{% extends "@App/Translator/layout.html.twig" %}

{% block title %}{{ 'translator.translations'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center m-4">{{ 'translator.title'|trans }}</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    {% else %}

        <p>RU: {{ phrase.translate('ru', false).content }}</p>
        <p>EN: {{ phrase.translate('en', false).content }}</p>
        <p>ES: {{ phrase.translate('es', false).content }}</p>
        <p>FR: {{ phrase.translate('fr', false).content }}</p>
        <p>JA: {{ phrase.translate('ja', false).content }}</p>

    {% endif %}

    <hr>
    <p class="text-center">
        <a href="{{ path('translator_index') }}">{{ 'translator.back_link'|trans }}</a>
    </p>


{% endblock %}
