{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('translator_change_language', {'_locale': 'ru' }) }}">RU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('translator_change_language', {'_locale': 'en' }) }}">EN</a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary ml-2">{{ 'translator.log_out'|trans }}</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary ml-2">{{ 'translator.sign_in'|trans }}</a>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success ml-2">{{ 'translator.sign_up'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}