{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Запомнить меня</label>
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Войти" />
                </div>
                <p class="text-center"><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></p>

            </div>
            <div class="col-md-4"></div>
        </div>

    </form>

    {#<p class="text-center">#}
    {#<a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>#}
    {#</p>#}
{% endblock fos_user_content %}
